#twowayWrapper{
    height: 1100px;
    padding: 20px;
    float: left;
}

.content-wrapper{
    height: 100px;
    width: 850px;
    margin-top: 20px;
}
.content-wrapper-datetime{
    height: 100px;
    width: 850px;
    margin-top: 60px;
}
#datetimeDiv{
    height: 100px;
}

#calendarDiv {
    height:375px;
}
.contents {
    width: 29%;
    float: left;
    height: auto;
    margin-left: 30px;
}
#propertyWrapper{
    float: left;
    width: 200px;
    margin-top: 100px;
}